.date {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 280px;
  height: 50px;
  background: #f9f9f9;
  border-bottom: 1px solid var(--color-primary);
  margin-bottom: 12px;
}

.p1 {
  margin-left: 16px;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-primary);
}

.p2 {
  margin-left: 16px;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-secundary);
}

.callendar {
  margin-right: 16px;
}

.callendar input {
  cursor: pointer;
}
