.balance {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  height: 65px;
  overflow-x: scroll;
}

.separator {
  width: 1px;
  height: 25px;
  margin: 0 34px;
  margin-right: 20px;
  border: 1px solid #e5e4e2;
}

.elDiv {
  max-width: 100%;
  display: flex;
  white-space: nowrap;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
}

.elP {
  min-width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-secundary);
}
