.div {
  position: absolute;
  left: 0;
  width: 46px;
  height: 700px;
  top: 4.4rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #f9f9f9;
}

.div div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 5px;
  width: 45px;
  height: 45px;
}

.div div svg {
  max-width: 100%;
  height: auto;
}

.divSpecial {
  position: relative;
  background: #622ee5;
}

.div .divSpecial:hover {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(
    89.96deg,
    #622ee5 0.06%,
    #172765 99.94%
  ) !important;
  transform: translate3d(0px, 1px, 0px) !important;
}

.div div:hover {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(95.85deg, #f9f9f9 0%, #e5e4e2 100%);
  transform: translate3d(0px, 1px, 0px);
}

.btn {
  padding: 8px;

  position: absolute;
  width: 40px;
  height: 40px;
  left: 26px;
  top: 551px;

  /* Purple - Primary color */

  background: #622ee5;
  /* Floating Buttons shadow */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.btn:hover {
  background: linear-gradient(
    89.96deg,
    #622ee5 0.06%,
    #172765 99.94%
  ) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 20px !important;
}
