.div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: -12.3px;
  width: 46px;
  height: 100%;
  background: #f9f9f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.div div {
  padding: 12px;
}

.div .divSpecial:hover {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(
    89.96deg,
    #622ee5 0.06%,
    #172765 99.94%
  ) !important;
  transform: translate3d(0px, 1px, 0px) !important;
}
.div div:hover {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(95.85deg, #f9f9f9 0%, #e5e4e2 100%);
  transform: translate3d(0px, 1px, 0px);
}
