.account {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
/* Estilizar "Saldo Bancário"*/
.balance {
  font-weight: 600;
  font-size: 20px;
  font-family: var(--font-two);
  line-height: 23px;
  color: #172765;
  margin-left: 2px;
}

.balanceComponents {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 1rem;
  padding: 12px 28px;
  transition: all 0.2s;
  align-items: center;
}

/* dropdown do butão*/
.handleClick {
  position: relative;
}

.dropdownButton {
  text-align: start;
  position: absolute;
  padding: 12px;
  white-space: nowrap;
  min-width: 100%;
  min-height: 100%;
  top: 2.5rem;
  left: 0;
  box-shadow: 0px 2px 20px rgba(44, 74, 125, 0.217548);
  border-radius: 5px;
  z-index: 10;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-secundary);
}

.dropdownButton p:not(:last-child) {
  margin-bottom: 15px;
}

/* estilo nos botões */
.balanceComponents button {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  width: 80px;
  height: 40px;
  background: none;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.balanceComponents button:hover {
  background: #622ee5;
}

.balanceComponents button:hover,
.balanceComponents button:hover svg path {
  transition: all 0.3s ease;

  stroke: white;
}
