.p {
  margin-left: 2px;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-secundary);
  display: flex;
  align-items: center;
}

.p svg {
  margin-left: 5px;
}

.balance {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 12px 0;
  gap: 10px;
  width: 280px;
  height: 47px;
  background: #f9f9f9;
  border: 0.5px solid #e5e4e2;
  border-bottom: 1px solid #778899;
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
}

.svg {
  margin-left: 15px;
  animation: anime 0.5s ease-in-out;
}

.money {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moneyDiv div {
  animation: anime 0.5s ease-in-out;
}

@keyframes anime {
  from {
    opacity: 0;
    fill-opacity: 0;
  }
  to {
    opacity: 1;
    fill-opacity: 1;
  }
}

.notHide p:first-child {
  max-width: 100%;
  font-size: 12px;
  line-height: 14px;
  color: #778899;
}

.notHide p:last-child {
  max-width: 100%;
  font-size: 16px;
  line-height: 19px;
  color: #69d531;
}

@keyframes rotate {
  100% {
    stroke: green;
  }
}

.isHide {
  max-width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-primary);
  margin: 3px 0px;
  animation: anime 0.5s ease-in-out;
}
