/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --font-one: 'Lato', sans-serif;
  --font-two: 'Raleway', sans-serif;
  --color-primary: #622ee5;
  --color-secundary: #172765;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(23, 39, 101, 0.05);
  box-shadow: inset 0 0 6px rgb(23, 39, 101, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgb(23, 39, 101, 0.2);
}

body {
  font-family: var(--font-one);
  overflow-x: hidden;
}

nav ul {
  text-decoration: none;
  list-style: none;
}

.App {
  max-width: 1336px;
}

.topMenu {
  max-width: 97%;
  height: 44px;
  background: #f9f9f9;
  box-shadow: 4px 0px 4px rgb(23, 39, 101, 0.25);
}

.spinner {
  position: relative;
  cursor: pointer;
  width: 23px;
  height: 23px;
  border-top: 4px solid rgb(23, 39, 101, 0.8);
  border-right: 4px solid rgb(23, 39, 101, 0.8);
  border-radius: 50%;
  margin-left: 15px;
}

.head {
  position: absolute;
  left: -5px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent rgb(23, 39, 101, 0.8) transparent;
  transform: rotate(-160deg);
}

.react-datepicker.callendar {
  width: 330px !important;
  height: 369px !important;
  background: #ffffff !important;
  box-shadow: 0px 2px 20px rgba(44, 74, 125, 0.217548) !important;
  border-radius: 5px !important;
}

.react-datepicker {
  display: inline-block !important;
  position: absolute !important;
  top: 0 !important;
  right: -11rem !important;
  animation: animation 0.3s ease-out !important;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.react-datepicker__navigation {
  background-image: none !important;
}

.react-datepicker__navigation.react-datepicker__navigation--previous {
  width: 24px;
  height: 24px;
  border: none !important;
  left: 82% !important;
  background: url('./Assets/prev.svg') center no-repeat !important;
  outline: none;
}

.react-datepicker__navigation--next {
  border: none !important;
  outline: none;
  width: 24px !important;
  height: 24px !important;
  background: url('./Assets/next.svg') center no-repeat !important;
}

.react-datepicker__day--outside-month {
  font-size: 14px;
  text-align: center !important;
  color: #778899 !important;
}

.react-datepicker__month-container {
  background: #fff !important;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: #fff !important;
}

.react-datepicker__day-name {
  font-size: 15px !important;
  line-height: 16px !important;
  color: #778899 !important;
  outline: none !important;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-around;
}

.react-datepicker__day.react-datepicker__day--013 {
  background: #622ee5 !important;
  border-radius: 5px !important;
  color: #fff !important;
  outline: none !important;
}

.react-datepicker__day {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  outline: none !important;
}

.react-datepicker__day.react-datepicker__day {
  height: 50px !important;
  width: 40px !important;
  font-size: 14px;
  color: #172765;
  line-height: 19px;
}

.react-datepicker__day--disabled {
  font-size: 14px;

  text-align: center !important;
  color: #778899 !important;
}

.react-datepicker__current-month {
  display: flex;

  font-size: 20px !important;
  line-height: 19px !important;
  color: #172765 !important;
  font-weight: 500 !important;
  padding: 1rem;
}

.custom-input {
  display: inline-flex !important;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url('./Assets/input-enter.svg') center no-repeat;
  border: none;
}

.custom-input:focus {
  outline: 0;
}

@keyframes spinner {
  to {
    transform: rotate(-360deg);
  }
}
